* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../Images/img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    margin-top: 60px!important;
    width: 80%;
    margin: auto;
    font-size: .8rem;
    padding: 40px;
    font-family: Montserrat, sans-serif;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    min-height: 200px;
    padding: 10px;
    width: 20%;
    background-color: rgb(900, 955, 955, .5);
    text-align: center;
    border-radius: 20px;
    flex-basis: 30%;
    margin: auto;
}

.card-header {
    line-height: 10vh;
}

.card-body {
    text-align: left;
}

.card-body table {
    width: 100%;
    padding: 10px;
}

.card-body table tr td input {
    padding: 10px;
    width: 100%;
    margin-right: 0;
    border-radius: 5px;
    border: 1px solid grey;
}

.btnTitle:hover {
    background-color: green;
    transition-duration: 1000;
    transform: rotate(3deg);
}

.btnTitle {
    background-color: grey;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
    float: right;
    cursor: pointer;
}

#newtask {
    position: relative;
    padding: 30px 20px;
}

#newtask input {
    width: 75%;
    height: 45px;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
}

#newtask input:focus {
    outline: none;
    border-color: #0d75ec;
}

#newtask button {
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: #0d75ec;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

#tasks {
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 10px;
}

.task {
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    background-color: #c5e1e6;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
}

.task span {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.task button {
    background-color: #6583e5;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 5px;
}

@media screen and (max-width: 960px) {
    .wrapper {
        flex-direction: column;
        -ms-flex-align: center;
        flex-wrap: nowrap;
    }
    .card {
        margin: auto;
        margin: 20px;
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .wrapper {
        flex-direction: column;
        -ms-flex-align: center;
        flex-wrap: nowrap;
    }
    .card {
        margin: auto;
        margin: 20px;
        width: 80%;
    }
}