#favs li {
    padding: 10px;
}

#favs {
    list-style: none;
}

#favs li a {
    text-decoration: none;
    padding: 10px;
    color: black;
}

body {
    width: 50%;
    border: 2px solid black;
    padding: 10px;
}

header h1 {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}

.para {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: red;
}